---
name: assign
on:
  pull_request:
    types: [opened, ready_for_review]
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write
jobs:
  add-reviews:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: kentaro-m/auto-assign-action@a6d59add3a817df08cafa9b166367768d2c337f8 # v2.0.1
        with:
          configuration-path: .github/auto-assign.yml # Only needed if you use something other than .github/auto_assign.yml
